{
  "BreedsFunction": {
    "API_KEY": "",
    "API_URL": "",
    "NODE_ENVIRONMENT": "",
    "MYSQL_HOST_LOCAL": "",
    "MYSQL_USER_LOCAL": "",
    "MYSQL_PASSWORD_LOCAL":  "",
    "MYSQL_DATABASE_LOCAL": "",
    "MYSQL_PORT_LOCAL":  "",
    "MYSQL_HOST_PROD": "",
    "MYSQL_USER_PROD": "",
    "MYSQL_PASSWORD_PROD":  "",
    "MYSQL_DATABASE_PROD": "",
    "MYSQL_PORT_PROD":  "",
    "MYSQL_HOST_DEV": "",
    "MYSQL_USER_DEV": "",
    "MYSQL_PASSWORD_DEV":  "",
    "MYSQL_DATABASE_DEV": "",
    "MYSQL_PORT_DEV":  ""
  }
}